.page-admin-answers {
	.page-area {
		display: flex;
		flex-direction: column;
	}

	span {
		color: #3ebec6;
	}

	.choices {
		display: flex;
		justify-content: space-around;
		background-color: #3ebec6;
	}
}
