.page-admin-question {
	.page-area {
		display: flex;
		flex-direction: column;
		padding: 0 1rem;
	}

	p {
		font-size: 1rem;
	}

	span {
		color: #3ebec6;
	}

	.questionAdmin {
		display: flex;
		justify-content: space-between;
	}

	.choices {
		display: flex;
		justify-content: space-around;
		align-items: center;
		padding: 0.6rem;
		margin-top: 0.2rem;
		margin-bottom: 0.2rem;
		background-color: #3ebec6;
	}
}
