.page-admin-home {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	.graphs-area {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(min(400px, 100%), 1fr));
		gap: 1rem;
	}
}
