.page-admin-home {
	.page-area {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		overflow-y: scroll;
	}

	.graphs-area {
		display: grid;
		grid-template-columns: repeat(2, 0.3fr);
		grid-template-rows: repeat(2, 0.3fr);
	}
}
