@import "../../styles/variables.scss";

nav {
	display: flex;
	justify-content: space-between;
	padding: 1rem;

	@media screen and (min-width: $breakpoint-desktop) {
		flex-direction: column;
		justify-content: center;
		width: 20%;
		height: 100dvh;
		

		img {
			margin-bottom: 2rem;
		}
	}
}
