@import "./styles/variables.scss";

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	font-size: calc(15px + 0.390625vw);

	scroll-behavior: smooth;
}

label {
	display: block;
	margin-bottom: 5px;
}

a,
button {
	all: unset;
	font-weight: bold;
	cursor: pointer;
}

html,
body {
	margin: 0;
	overflow: hidden;
}

main {
	overflow-y: scroll;
}

.cardbase {
	border: 1px solid $color-gray_400;
	padding: 1rem;
	border-radius: $border_radius;
}

@media screen and (min-width: $breakpoint-desktop) {
	#root {
		display: flex;
	}
}
