@import "./styles/variables.scss";

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	font-size: calc(15px + 0.390625vw);

	scroll-behavior: smooth;
}

label {
	display: block;
	margin-bottom: 5px;
}

input {
	padding: 0.5rem 1rem;
	font-size: large;
	border-radius: 8px;
	border: 1px solid $color-gray_500;
}

select {
	padding: 0.5rem 1rem;
	border-radius: $border_radius;
}

a,
button {
	all: unset;
	font-weight: bold;
	cursor: pointer;
}

html,
body {
	margin: 0;
	overflow: hidden;
	min-height: 100dvh;
}

main {
	overflow-y: scroll;
	height: 100dvh;
	padding: 0 1rem;
}

.cardbase {
	border: 1px solid $color-gray_400;
	padding: 1rem;
	border-radius: $border_radius;
}

.text-error {
	color: $color-error;
	margin-bottom: 1rem;
}

.text-error {
	color: $color-error;
	margin-bottom: 1rem;
}

@media screen and (min-width: $breakpoint-desktop) {
	#root {
		display: flex;
	}

	main {
		width: 80%;
	}

	.no-navbar {
		width: 100%;
	}
}
